<div class="row">
    <div class="col-md">
        <div class="article-body" data-article-num={{id}}>
            <h6 class="sub-banner">{{title}}<span class="article-author">Posted by {{user.name}} on {{{dateFormat createdAt}}}</span></h6>
            <p>
                {{content}}
            </p>
        </div>
    </div>
</div>